<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Not Found</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body style="text-align: center" class="container">
    <img
      src="https://teleco.ca/wp-content/uploads/2021/07/TELECO-Logo-Large.png"
      height="250"
      width="250"
      alt="TELECO logo"
    />
    <h1>OH NO...404 error</h1>
    <h1
      style="
        font-family: 'Courier New', Courier, monospace;
        background-color: red;
        color: white;
       
      "
    >Error: 
      <%= error %>
  </h1>
    <h3>Looks like you broke the Internet!</h3>
    <h5>I'm as shocked as you are - but don't worry, I can fix it.</h5>
    <br />
    <div style="position: absolute; left: 42%; text-align: left">
      <a
        style="
          border: 1px solid black;
          color: white;
          background-color: black;
          padding: 5px;
          text-decoration-color: black;
        "
        href="/"
        >FIX INTERNET</a
      >
      &amp; go to the IT Dashboard<br /><br />
      <a
        style="
          border: 1px solid black;
          color: white;
          background-color: black;
          padding: 5px;
          text-decoration-color: black;
        "
        href="/month"
        >FIX INTERNET</a
      >
      &amp; go to the Monthly Tech Calendar<br /><br />
      <a
        style="
          border: 1px solid black;
          color: white;
          background-color: black;
          padding: 5px;
          text-decoration-color: black;
        "
        href="/week"
        >FIX INTERNET</a
      >
      &amp; go to the Weekly Tech Calendar<br /><br />
      <a
        style="
          border: 1px solid black;
          color: white;
          background-color: black;
          padding: 5px;
          text-decoration-color: black;
        "
        href="/sales"
        >FIX INTERNET</a
      >
      &amp; go to the Sales Dashboard<br /><br />
      <a
        style="
          border: 1px solid black;
          color: white;
          background-color: black;
          padding: 5px;
          text-decoration-color: black;
        "
        href="/invoice"
        >FIX INTERNET</a
      >
      &amp; go to the Invoice Print <br /><br />
    </div>
  </body>
</html>
