<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <title>Packing Slip</title>
</head>

<style>
      body {
            padding: 20px;
            font-family: Arial, Helvetica, sans-serif;
            color: black;
            background-color: #f0f0f0;
            font-size: medium !important;
        }
</style>
<body>

    <div class="container">

        <div class="row" style="border-bottom: 1px solid black;">
            <div class="col">
                <img src="https://teleco.ca/wp-content/uploads/2021/07/TELECO-Logo-Large.png" height="50" width="50">
            </div>
            <div class="col">
                <h4>Packing Slip</h4>
            </div>
            <div class="col">
                <ul>

                    <% const today = new Date(); %>

                    <li>Date: <%= today.toLocaleDateString() %> </li>
                    <li id="so"> </li>
                    <li>Ship Via:  Purolator Ground </li>
                </ul>
            </div>
        </div>

        <div class="row" style="margin-top: 30px; border-bottom: 1px solid black;">
            <div class="col">
                <div>
                    <p><b>Sold To:</b></p>
                   <address id="soldto">

                   </address>
                </div>
            </div>
            <div class="col">
                <div>
                    <p><b>Ship To:</b></p>
                    <address  id="shipto">

                    </address>
                </div>
            </div>
        </div>

        <center><h5 id="stitle" style="margin-top: 5px;"></h5></center>

        <table class=".table-striped" style="width: 100%;border: 0px solid rgb(155, 155, 155); text-align: left; padding: 5px;" id="data-table">

            <thead style="border-bottom: 1px dotted rgb(155, 155, 155);">
                <th style="width: 15%;" >Item ID</th>
                <th style="width: 65%;" >Item Description</th>
                <th style="width: 10%;" >QTY Ordered</th>
                <th style="width: 10%;">QTY Shipped</th>
            </thead>
            <tbody>
                
            </tbody>
        </table>

        <center>-----End of Items-----</center>
        <center> <small>Thank you for your order.  The above items have been sold by us to your company on the basis of a legally binding order. An invoice detailing your order will follow shortly from our Finance team to yours for the above amount.  Should you have any questions regarding this order, please feel free to contact us at any time.</small> </center>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

<script>
var userInput = prompt("Enter Sales order Number: ");

if(userInput != null){
    getData(userInput);
}else{
    alert('You cancelled input!!');
}


function getData(salesorder){
    let table = document.getElementById('data-table');

    fetch('/packingslip/data?salesorder='+salesorder)
    .then(response => response.json())
    .then(data =>{
        console.log(data);

        const addressLines = [
            data.data.client_name ? data.data.client_name : '',
            data.data.deladdress1 ? data.data.deladdress1 : '',
            data.data.deladdress2 ? data.data.deladdress2 : '',
            data.data.deladdress3 ? data.data.deladdress3 : '',
            data.data.deladdress4 ? data.data.deladdress4 : '',
            data.data.deladdress5 ? data.data.deladdress5 : ''
        ].filter(line => line).join('\n');

        document.getElementById('shipto').innerText =  addressLines;

        document.getElementById('soldto').innerText = addressLines;

        document.getElementById('so').innerText = 'Sales Order: ' + data.data.id;

        document.getElementById('stitle').innerText = data.data.title;

        data.data.lines.forEach(element => {

            if(!element.isgroupdesc && !(element.productcode).includes('LBR-') && !(element.name).includes('Shipping') && !(element.name).includes('Discount')){
                table.innerHTML += `<tr>
                                        <td style="width: 15%;  border-bottom: 1px dotted rgb(155, 155, 155);">${element.productcode ? element.productcode : 'N/A'}</td>
                                        <td style="width: 65%;  border-bottom: 1px dotted rgb(155, 155, 155);">${element.name}</td>
                                        <td style="width: 10%;  border-bottom: 1px dotted rgb(155, 155, 155);text-align:center ">${element.quantity}</td>
                                        <td style="width: 10%;  border-bottom: 1px dotted rgb(155, 155, 155);"></td>
                                </tr>`;

            }
            
        })
        
    });
}



</script>

</html>